In [1]:
#python collection 
# list
# tuple
# dictionary
# set

In [2]:
#list

In [7]:
a = [5,4,7,8]
b = ["She", "He", "it" ]
print(a,b)
print(type(a),type(b))

[5, 4, 7, 8] ['She', 'He', 'it']
<class 'list'> <class 'list'>

In [9]:
print(a[0])
print(a[0:3:2])

5
[5, 7]

In [10]:
print(a[0:len(a)])

[5, 4, 7, 8]

In [11]:
print(b[0:4])

['She', 'He', 'it']

In [12]:
print(a[0::])

[5, 4, 7, 8]

In [18]:
a = ["she", "he","it"]
print(a[0][2])

e

In [21]:
a = [3,6,7,8,9]
b = ["f","y","u","a"]
c = a+b
print(c)

[3, 6, 7, 8, 9, 'f', 'y', 'u', 'a']

In [23]:
a = ["me","tme","uh"]
a[2] = "Ma"
print(a)

['me', 'tme', 'Ma']

In [24]:
a = ["tme","ma","uh"]
for i in a:
    print(i)

tme
ma
uh

In [26]:
l = len(a[0])
print(l)

3

In [27]:
#append() insert() extend()

In [31]:
a = [] #or a = list()
a.append("Apple")
a.append("SHE")

In [32]:
print(a)

['Apple', 'SHE']

In [34]:
a = ["TME","MA","UH"]
a.insert(1,"Hami")
print(a)

['TME', 'Hami', 'MA', 'UH']

In [38]:
for i in a:
    print(i)

TME
Hami
MA
UH

In [43]:
#extend : a complete list can be added
a = ["Hami","AAja","Hijo"]
b = [1,33,57]
a.extend(b)
print(a)

['Hami', 'AAja', 'Hijo', 1, 33, 57]

In [41]:

b.extend(a)
print(b)

[1, 33, 57, 'Hami', 'AAja', 'Hijo', 1, 33, 57]

In [48]:
l = []
n = int(input("Enter a range"))
for i in range(n):
    x = int(input("Enter the values:"))
    l.append(x)
        
    print(l) #this will print the result individually.
#[print(l)] would print all the result at last

Enter a range5
Enter the values:543
[543]
Enter the values:523
[543, 523]
Enter the values:321
[543, 523, 321]
Enter the values:657
[543, 523, 321, 657]
Enter the values:432
[543, 523, 321, 657, 432]

In [46]:
l = []
n = int(input("ENter the range:"))
for i in range(n):
    x = input("Enter the values")
    l.append(x)
print(l)
# here the result is printed at last

ENter the range:5
Enter the valuesgdg
Enter the values432
Enter the valuesd
Enter the values324
Enter the valuesds
['gdg', '432', 'd', '324', 'ds']

In [49]:
l = []
n = int(input("Enter a range"))
for i in range(n):
    x = int(input("Enter the values:"))
    l.append(x)
        
print(l)

Enter a range5
Enter the values:65464
Enter the values:433432
Enter the values:867566
Enter the values:2342
Enter the values:85674
[65464, 433432, 867566, 2342, 85674]

In [50]:
print(sum(l))
print(max(l))
print(min(l))

1454478
867566
2342

In [51]:
l.sort()
print(l)

[2342, 65464, 85674, 433432, 867566]

In [52]:
l.reverse()
print(l)

[867566, 433432, 85674, 65464, 2342]

In [53]:
list = []
n = int(input("ENter the range:"))
for i in range(n):
    x = input("Enter the values")
    list.append(x)
print(list)

ENter the range:5
Enter the valuesdfsg
Enter the values4434
Enter the values757
Enter the valuesfsdf
Enter the values756754
['dfsg', '4434', '757', 'fsdf', '756754']

In [54]:
print(sum(list)) # strings can't be added>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
a = ["she","ma","hami","tini"]
a.sort()
print(a)

['hami', 'ma', 'she', 'tini']

In [63]:
l= []
a = ["Che","chicken","chilli","mero","tmro"]
for i in a:
    if i[0] == 'c' or i[0] == 'C':
        l.append(i)
    
print(l)

['Che', 'chicken', 'chilli']

In [64]:
l= []
a = ["Che","chicken","chilli","mero","tmro"]
for i in a:
    if i[0].lower() == 'c':
        l.append(i)
    
print(l)

['Che', 'chicken', 'chilli']

In [65]:
# delete remove pop

In [66]:
a = ["hey","there","i","am","fine"]
del(a[0])
print(a)

['there', 'i', 'am', 'fine']

In [67]:
a = ["hey","there","i","am","fine"]
del(a[0:3])
print(a)

['am', 'fine']

In [68]:
a = ["hey","there","i","am","fine"]
a.remove("there")
print(a)

['hey', 'i', 'am', 'fine']

In [70]:
a = ["hey","there","i","am","fine"]
a.remove("there","hey")  # remove can take only one argument: or a single value can be removed

TypeError: list.remove() takes exactly one argument (2 given)

In [72]:
a = ["hey","there","i","am","fine","hey"]
a.remove("hey")
print(a)
#although there are two 'hey', remove keyword removes only one of them.(the first one)

['there', 'i', 'am', 'fine', 'hey']

In [73]:
a = ["hey","there","i","am","fine","hey"]
for i in a:
    if i == "hey":
        a.remove("hey")
print(a)

['there', 'i', 'am', 'fine']

In [75]:
a = ["hey","there","i","am","fine","hey"] 
for i in range(len(a)):
    if a[i] == "hey":
        print(i)

0
5

In [77]:
a = ["hey","there","i","am","fine","hey"]
search = input("Enter the value to remove:")
for i in a:
    if i == search:
        a.remove(search)
print(a)

Enter the value to remove:hey
['there', 'i', 'am', 'fine']

In [78]:
#pop
a = ["hey","there","i","am","fine","hey"]
b = a.pop(0)
print(b)

hey

In [79]:
l = []
a = ["hey","there","i","am","fine","hey"]
for i in a:
    if i == "hey":
        l.append("hey")
        a.remove("hey")
print(l)
print(a)

['hey', 'hey']
['there', 'i', 'am', 'fine']

In [1]:
# list inside list

In [6]:
info = []
n = int(input("Enter n :"))
for i in range(n):
    name = input("Enter name:")
    age = int(input("Enter age:"))
    add = input("Enter address:")
    data = [name,age,add]
    info.append(data)
print(data)

Enter n :2
Enter name:fdaf
Enter age:32
Enter address:dsf
Enter name:dfs
Enter age:213
Enter address:fdf
['dfs', 213, 'fdf']

In [10]:
info = list()
n = int(input("Enter n :"))
for i in range(n):
    name = input("Enter name:")
    age = idgdsfgnt(input("Enter age:"))
    add = input("Enter address:")
    data = [name,age,add]
    info.append(data)
print(info)

Enter n :2
Enter name:fdsfsa
Enter age:45
Enter address:dfgfds
Enter name:fdsgds
Enter age:232
Enter address:sdgdf
[['fdsfsa', 45, 'dfgfds'], ['fdsgds', 232, 'sdgdf']]

In [9]:
a = ["timi","ma","uni","ani","hami"]
b = ["uniharu","timiharu","yes"]
a.append(b)
print(a)

['timi', 'ma', 'uni', 'ani', 'hami', ['uniharu', 'timiharu', 'yes']]

In [11]:
a = ["timi","ma","uni","ani","hami"]
name = input("Enter name:")
add = input("address:")
age = int(input("age:"))
data = [name,age,add]
a.append(data)
print(a)

Enter name:fhsdjfk
address:fdsa
age:4
['timi', 'ma', 'uni', 'ani', 'hami', ['fhsdjfk', 4, 'fdsa']]

In [12]:
a = ["timi","ma","uni","ani","hami"]
a[0] = "uh"
print(a)

['uh', 'ma', 'uni', 'ani', 'hami']

TypeError: 'str' object does not support item assignment

In [16]:
info = list()
n = int(input("Enter n :"))
for i in range(n):
    name = input("Enter name:")
    age = int(input("Enter age:"))
    add = input("Enter address:")
    data = [name,age,add]
    info.append(data)
print(info)

Enter n :3
Enter name:john
Enter age:67
Enter address:Kathmandu
Enter name:JOyy
Enter age:56
Enter address:Dharan
Enter name:Ross
Enter age:34
Enter address:Gulmi
[['john', 67, 'Kathmandu'], ['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]

In [17]:
a = [['john', 67, 'Kathmandu'], ['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]
search = input("Enter data to search:")
for i in a:
    if search in i:
        print(i)

Enter data to search:john
['john', 67, 'Kathmandu']

In [23]:
a = [['john', 67, 'Kathmandu'], ['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]
search = input("Enter data to search:")
for i in a:
    if search in i:
        print(i)
else:
    print("data not found") # = ? when data is found, the message is printed too...

Enter data to search:john
['john', 67, 'Kathmandu']
data not found

In [24]:
a = [['john', 67, 'Kathmandu'], ['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]
search = input("Enter data to search:")
for i in a:
    if search in i:
        a.remove(i)
print(i)

Enter data to search:john
['Ross', 34, 'Gulmi']

In [26]:
a = [['john', 67, 'Kathmandu'], ['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]
search = input("Enter data to search:")
for i in a:
    if search in i:
        a.remove(i)
        
print(a)

Enter data to search:john
[['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]

In [27]:
a.append(b)
print(a)

[['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi'], ['uniharu', 'timiharu', 'yes']]

In [28]:
a.remove(b)

In [30]:
print(a)

[['JOyy', 56, 'Dharan'], ['Ross', 34, 'Gulmi']]

In [33]:
n = int(input("Enter the range:"))
for i in range(n):
    print("thee")

Enter the range:5
thee
thee
thee
thee
thee

In [1]:
pwd

'C:\\Users\\arjun\\class'