In [5]:
import mysql.connector
database = mysql.connector.connect(
     host = "localhost",
     user = "root",
     password = "",
     database = "result"
)

db = database.cursor()

In [7]:
db.execute("SELECT * FROM final")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Roshan', 94, 85, 52, 510, 81)
(2, 'Sita', 67, 78, 89, 200, 78)
(3, 'Rita', 78, 80, 98, 230, 78)

In [8]:
import mysql.connector
database = mysql.connector.connect(host="localhost",user = "root",password = "",database = "result")
db = database.cursor()
db.execute("SELECT * FROM final")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Roshan', 94, 85, 52, 510, 81)
(2, 'Sita', 67, 78, 89, 200, 78)
(3, 'Rita', 78, 80, 98, 230, 78)

In [16]:
db.execute("INSERT INTO final (ID, Name, Physics, Chemistry, Maths, Total, Percentage) VALUES (4, 'Shyam', 90, 85, 89, 250, 90)")
database.commit()

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host