In [1]:
# set
# - no indexing
# - un-ordered
# - multiple data
# - no duplicate data
# - mutable

In [2]:
a = set()
a = {2,4,6,7}
print(a)
print(type(a))

{2, 4, 6, 7}
<class 'set'>

In [3]:
s = {"she","will","be","loved"}
print(s) #un-ordered

{'she', 'be', 'loved', 'will'}

In [4]:
# not indexed:
print(s[0])

TypeError: 'set' object is not subscriptable

In [7]:
#no duplicate data:
s = {1,1,1,"she","he"}
print(s)

{'she', 1, 'he'}

In [10]:
# mutable
s = set()
s.add("he")
s.add("she")
print(s)

{'she', 'he'}

In [12]:
l = [1,2,3,4,5,5,5,6,7,8,9]
print(list(set(l)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# intersection:
u = {'hari', 'ma', 'rita', 'rohan', 'sita', 'tme', 'uh',"tyo","tini"}
a = {"tme","ma","uh","hari","sita"}
b = {"rohan","rita","tme","ma"}
a.intersection(b)

{'ma', 'tme'}

In [15]:
a.difference(b)

{'hari', 'sita', 'uh'}

In [17]:
b.difference(a)

{'rita', 'rohan'}

In [18]:
a.union(b)

{'hari', 'ma', 'rita', 'rohan', 'sita', 'tme', 'uh'}

In [21]:
u.difference(a.union(b))

{'tini', 'tyo'}

In [23]:
a = {"tme","ma","uh","hari","sita"}
b = {"rohan","rita","tme","ma"}
c = {"rajan","nabin","shruti","ma","rohan"}
d = a.intersection(b,c)
print(d)

{'ma'}

In [24]:
#set inside set can't exist
s = {{123},{3425}}

TypeError: unhashable type: 'set'

In [26]:
# tuple can exist inside set
s = {(1,4,5),(4,5,6,"tme")}
print(s)

{(4, 5, 6, 'tme'), (1, 4, 5)}