In [1]:
# dictionary
# indexed
# ordered
# multiple data
# mutable

In [6]:
d = dict() # or d ={<key>:<value>,<key>:<value>}
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [8]:
print(len(d))

3

In [9]:
#mutable
d['a'] = 'Ant'
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['A'] = 'Ant'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [11]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d['d'] = 'Dog'
d['e'] = 'Egg'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Egg'}

In [12]:
d = {}
n = int(input("Enter the number of data:"))
for i in range(n):
    name = input("Enter name:")
    phone = int(input("Enter phone number:"))
    d[name] = phone
print(d)

Enter the number of data:2
Enter name:Arjun
Enter phone number:52312543234
Enter name:She
Enter phone number:21432214
{'Arjun': 52312543234, 'She': 21432214}

In [13]:
a = {'Ram': 57348993242,'Hari':3543432543523}
for i in a:
    print(i) #returns key

Ram
Hari

In [14]:
for i in a.values():
    print(i) #returns values

57348993242
3543432543523

In [15]:
for i in a.items():
    print(i)

('Ram', 57348993242)
('Hari', 3543432543523)

In [24]:
a = {'Ram': 57348993242,'Hari':3543432543523}
for i in a.items():
    print(i[0])

Ram
Hari

In [27]:
b = a.items()
print(b[0])

TypeError: 'dict_items' object is not subscriptable

In [29]:
d = [('Ram', 57348993242),('Hari',3543432543523)]
dict(d)

{'Ram': 57348993242, 'Hari': 3543432543523}

In [30]:
#del pop
a = {'Ram': 57348993242,'Hari':3543432543523}
del a['Ram']
print(a)

{'Hari': 3543432543523}

In [31]:
a = {'Ram': 57348993242,'Hari':3543432543523}
b = a.pop('Ram')
print(b)

57348993242

In [32]:
a = {'Ram': 57348993242,'Hari':3543432543523}
b = a.pop('Ram')
print(a)
print(b)

{'Hari': 3543432543523}
57348993242

In [36]:
#list inside dictionary
a = {'Ram': [57348993242,90786465464],'Hari':[3543432543523,789790907]}
print(a)
print(a["Ram"])

{'Ram': [57348993242, 90786465464], 'Hari': [3543432543523, 789790907]}
[57348993242, 90786465464]

In [37]:
a = {'Ram': [57348993242,90786465464],'Hari':[3543432543523,789790907]}
a['Ram']

[57348993242, 90786465464]

In [38]:
a['Ram'][0] = 13632528592579 #since it is a list, indexation can be done with numbers!!!
print(a)

{'Ram': [13632528592579, 90786465464], 'Hari': [3543432543523, 789790907]}

In [51]:
a['Ram'].append(34567890)
a['Hari'].append(956987698456)

In [42]:
print(a)

{'Ram': [13632528592579, 90786465464, 34567890, 34567890], 'Hari': [3543432543523, 789790907, 956987698456]}

In [46]:
d = {}
n = int(input("Enter the number of data:"))
for i in range(n):
    name = input("Enter name:")
    phone_ntc = int(input("Enter phone number(ntc):"))
    phone_ncell = int(input("Enter phone number(ncell):"))
    d[name] = [phone_ntc,phone_ncell]
print(d)

Enter the number of data:2
Enter name:hgdsff
Enter phone number(ntc):7643326
Enter phone number(ncell):8765643
Enter name:hfsfhfd
Enter phone number(ntc):766463
Enter phone number(ncell):23456
{'hgdsff': [7643326, 8765643], 'hfsfhfd': [766463, 23456]}

In [49]:
d = [{'Name':'Ram','ntc':90979680,'ncell':66878878907},
    {'Name':'Hari','ntc':5564652,'ncell':568323232},
    {'Name':'Shyam','ntc':4666465,'ncell':252661},
    {'Name':'Gita','ntc':124548421,'ncell':2131878679}]
print(d)
print(d[0])
print(d[0]['Name'])

[{'Name': 'Ram', 'ntc': 90979680, 'ncell': 66878878907}, {'Name': 'Hari', 'ntc': 5564652, 'ncell': 568323232}, {'Name': 'Shyam', 'ntc': 4666465, 'ncell': 252661}, {'Name': 'Gita', 'ntc': 124548421, 'ncell': 2131878679}]
{'Name': 'Ram', 'ntc': 90979680, 'ncell': 66878878907}
Ram

In [55]:
l = []
n = int(input("Enter the range:"))
for i in range(n):
    name = input("Enter name:")
    ncell = int(input("Enter ncell phone number:"))
    ntc = int(input("Enter ntc phone number:"))
    data = {'Name':name,'Ncell':ncell,'ntc':ntc}
    l.append(data)
print(l)

Enter the range:2
Enter name:Arjun
Enter ncell phone number:9878967065
Enter ntc phone number:9860788006
Enter name:She
Enter ncell phone number:9978999798
Enter ntc phone number:98457534
[{'Name': 'Arjun', 'Ncell': 9878967065, 'ntc': 9860788006}, {'Name': 'She', 'Ncell': 9978999798, 'ntc': 98457534}]

In [58]:
a = {'Ram': 57348993242,'Hari':3543432543523}
print(a['Ram'])

57348993242

In [ ]:
a = {'Name':['Ram',"Shyam"]}
i = int(input("Enter index:"))
print(a['Name'][i])
print(a['Age'][i])
print(a['Address'][i])