In [1]:
# file
# open(<file name>_<modes>)

# modes
# read - r
# write - w
# append - a
# create - x

In [3]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("File already exists")

File already exists

In [19]:
b = open('data.txt','r') 
print(b.read())
print(type(b.read()))
b.close()

you
me
she
it
they
1
2
3

<class 'str'>

In [11]:
b = open('data.txt') # still gives output since read is the default mode:
print(b.read())
b.close()

you
me
she
it
they
1
2
3

In [12]:
print(type(b))

<class '_io.TextIOWrapper'>

In [13]:
print(type(b.read()))

ValueError: I/O operation on closed file.

In [14]:
print(type(b.read()))

ValueError: I/O operation on closed file.

In [15]:
print(type(b.read()))

ValueError: I/O operation on closed file.

In [16]:
#readline() read()

In [18]:
b = open('data.txt','r')
print(b.readline())
print(b.readline())

b.close()

you

me

In [21]:
b = open('data.txt','r')
x = b.read()
print(x.split('\n'))
b.close()

['you', 'me ', 'she ', 'it ', 'they', '1', '2', '3']

In [22]:
b = open('data.txt','r')
x = b.read()
y = x.split('\n')
b.close()

In [23]:
line_no = int(input("Enter the line number to print:"))
print(y[line_no-1])

Enter the line number to print:4
it

In [24]:
b = open('data.txt','r')
x = b.read()
y = x.split('\n')
b.close()
line_no = int(input("Enter the line number to print:"))
print(y[line_no-1])

Enter the line number to print:5
they

In [25]:
#write

In [26]:
b = open('new_data.txt','w')
b.write("hey there! I am doing it well!!")
b.close()

In [27]:
b = open('data.txt','w')
b.write("i am here with you!!")
b.close()  # overwrites previous data with the present data:

In [38]:
s = ""
def record():
        global s 
        name = input("Enter name:")
        add = input("Enter address:")
        age = input("Enter age:")
        c = f"{name},{add},{age}\n"
       
        s = s + c
        x = input("Enter 'y' for more records:")
        if x == 'y':
            record()
            
            
record()
print(s)
b = open('record.csv','w')
b.write('Name,Address,Age\n')
b.write(s)
b.close()

Enter name:ARjun
Enter address:Kathmandu
Enter age:45
Enter 'y' for more records:y
Enter name:Shyam
Enter address:Dharan
Enter age:56
Enter 'y' for more records:y
Enter name:Sita
Enter address:Sunsari
Enter age:34
Enter 'y' for more records:g
ARjun ,Kathmandu,45
Shyam,Dharan,56
Sita,Sunsari,34

In [34]:
pwd

'C:\\Users\\arjun\\class'

In [36]:
import os
os.listdir()

['.ipynb_checkpoints',
 'check.ipynb',
 'data.txt',
 'day_10.ipynb',
 'day_11(dictionary).ipynb',
 'day_12(exception handeling).ipynb',
 'day_12(set).ipynb',
 'day_13(file handling).ipynb',
 'day_2(if_else).ipynb',
 'day_3.ipynb',
 'day_4.ipynb',
 'day_5.ipynb',
 'day_6.ipynb',
 'day_7(function).ipynb',
 'day_8(function cont(global variable)..+ string formatting).ipynb',
 'day_9(list).ipynb',
 'first_class.ipynb',
 'new_data.txt',
 'record.csv',
 'record.txt']

In [39]:
b = open('record.csv','r')
print(b.read())
b.close()

Name,Address,Age
Arjun ,Kathmandu,45
Shyam,Dharan,56
Sita,Sunsari,34

In [45]:
import pandas as pd
df = pd.read_csv('record.csv')
df

     Name    Address  Age
0  Arjun   Kathmandu   45
1   Shyam     Dharan   56
2    Sita    Sunsari   34

In [1]:
pwd

'C:\\Users\\arjun\\class'